h1 {
  text-align: center;
  margin-bottom: 20px  ;
  margin-top: 20px ;
  background: blue;
}

h2 {
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 4px;
 margin: 20px,220px;
 background: red;
}

body {
  text-align: center;
  font-family: arial;
 color: white;
 background:black;
 font-size: 30px;
}

img {
width: 500px; ;
border-left: solid black 0px;
margin: 00px;
}

.TELEFONE{
background: white;
padding: 10px 30px;
text-decoration: none;
border-radius: 4px;
margin: 50px;
color: black;
}
  
.site {background: white;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 4px;
  margin: 20px,220px;
color: green;
font-size: 20px;}

.inicio {background: gray;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 4px;
 margin: 20px,220px;
color: yellowgreen;}

.espaço{margin: 0px 0px;}

.HORARIOS{
  width: 60%; ;
border-left: solid black 0px;
margin: 20px;
}